// COLORS - CONTENT
$color-text: #fff;
$color-text-light: #929294;
$color-title: #928879;

$color-background: #31323b;

// COLORS - LINKS
$color-link: #39a275;
$color-link-active: $color-text;


// COLORS - BUTTONS
$cl-color-button: #5458F7;
$cl-color-button--bg: #303134;

// FONTS
$font-text: 'Open Sans';

// DURATIONS
$duration-animation-base: 300ms;

// RADIUS
$radius-default: 4px;


// Resolution
$desktop-big: 1920px;
$desktop: 1280px;
$desktop-min: 1024px;
$tablet: 768px;
$mobile: 320px;


// Base color
$cl-white: #fff;
$cl-black: #000;
$cl-black-bg: #191A1D;
