@import './utils/normalize';
@import './utils/_fonts.scss';
@import './components/buttons.scss';

@import './components/page';

html {
	font-family: 'Comfortaa';
	font-weight: 600;
	font-style: normal;
}